@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/neIWzD2ms4wxr6GvjeD0X88SHPyX2xYOoguK.ttf) format('truetype');
}
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/neIVzD2ms4wxr6GvjeD0X88SHPyX2xYGGS6axq0u.ttf) format('truetype');
}
